@media (prefers-color-scheme: dark) {
    html, body, #root .ant-layout, #root .ant-layout-footer {
    background-color: black;
    background: black;
  }
  #root .ant-input, #root .input-field {
    background-color: rgb(20,20,20);

    border-left-color: rgb(66, 66, 66);
    border-top-color: rgb(66, 66, 66);
    border-right-color: rgb(66, 66, 66);
    border-bottom-color: rgb(66, 66, 66);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
